body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
 }
 
.app {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.list-items {
  display: flex;
  justify-content: space-around;
}

.delete {
  display: flex;
  padding: 10px;
}
